/* body related styles */
body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

/* shared text color */
.primary-text-color {
    color: #FD6E0A;
}

/* header related styles */
.header {
    background-image: url('../images/developer.png');
    background-repeat: no-repeat;
    background-size: 100px 650px;
    background-color: #FFF8F3;
}

/* sec-1 related styles */
.sec-1 {
    background-color: #FFF8F3;
    margin: 0px 0px 0px 125px;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 570px 370px;
    background-image: url('../images/header_bg.png');
}

/* nav related styles */
nav {
    margin-right: 125px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-title {
    font-size: 45px;
    font-weight: 800;
}

.nav-title:hover {
    cursor: pointer;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}

nav ul {
    display: flex;
    gap: 55px;
    align-items: center;
}

/* common button styles */
.primary-button {
    padding: 15px 35px;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #FD6E0A;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

/* banner related styles */
.banner {
    display: flex;
    align-items: center;
    gap: 320px;
    margin-top: 50px;
}

.banner img {
    width: 500px;
    height: 480px;
}

.banner-content p {
    color: #757575;
}

.banner-content h3 {
    margin: 0px;
    color: #474747;
    font-weight: 400;
    font-size: 40px;
}

.banner-content h1 {
    font-size: 55px;
    font-weight: 600;
    margin: 0px;
}

.download-button {
    font-weight: 500;
    margin-right: 25px
}

.contact-button {
    font-weight: 500;
    background-color: white;
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
}

/* main body related styles */
.main {
    margin: 0 210px;
}

/* sec-2 related css */
.sec-2 {
    padding: 130px 150px;
    background-color: #FFF8F3;
    border-radius: 10px;
    margin-top: 120px;
}

#about-me {
    margin-top: 0px;
}

.section-title {
    font-weight: bold;
    font-size: 30px;
}

.section-description {
    font-size: 16px;
    color: #757575;
}

.about {
    border: 1px solid #000000;
    border-radius: 4px;
    text-align: center;
    padding: 0px 10px;
}

.about-items {
    display: flex;
    justify-content: space-around;
}

.item-title {
    margin-bottom: 0px;
    color: #757575;
}

.item-description {
    margin-top: 10px;
    font-weight: bold;
}

/* sec-3 related styles */
.sec-3 {
    margin-top: 120px;
}

.sec-3-texts {
    text-align: center;
}

.sec-3-texts h2 {
    margin-top: 0px;
}

.sec-3-texts p {
    padding: 0 100px;
}

/* card related styles */
.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
}

.card {
    background-color: whitesmoke;
    font-family: sans-serif;
    width: 155px;
    height: 270px;
    padding: 30px;
    border-radius: 6px;
    box-shadow: 5px 5px 18px gray;
}

.card h3 {
    font-weight: bold;
    font-size: 20px;
}

.card-title {
    margin-bottom: 40px;
}

.card p {
    color: #757575;
}

/* sec-4 related styles */
.sec-4 {
    margin-top: 120px;
    margin-bottom: 0px;
}

.sec-4-texts h2 {
    margin-top: 0px;
    text-align: center;
    margin-bottom: 100px;
}

.sec-4-resume-container {
    display: flex;
    gap: 25px;
    margin-top: 0px;
}

.resume-column-title {
    font-weight: bold;
    font-size: 30px;
    margin-top: 0px;
}

.experience-title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 0px;
}

.experience-sub-title {
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-top: 10px;
    margin-bottom: 20px;
}

.experience-description {
    font-size: 16px;
    font-weight: 400;
    color: #757575;
    margin-bottom: 30px;
}

.resume-description {
    margin-bottom: 0px;
}

.download-button-cv {
    padding: 15px 25px;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #FD6E0A;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 60px;
}

.text-center-button {
    text-align: center;
}

/* sec-5 related styles */
.sec-5-footer-container {
    background-color: #FFF8F3;
    margin-top: 120px;
    display: flex;
    /* padding: 30px 150px; */
    padding: 80px 150px 20px 150px;
    justify-content: space-between;
}

/* footer first part related styles */
.footer-first-part h3 {
    margin-top: 0px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 30px;
}

.footer-first-part p {
    margin-top: 0px;
    margin-bottom: 20px;
    width: 500px;
    color: #474747;
}

.footer-first-part a {
    margin-right: 20px;
}

/* footer second part related styles */
.footer-second-part {
    width: 400px;
}

.footer-second-part h3 {
    font-weight: bold;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.input {
    border: none;
    background-color: #FFFFFF;
    padding: 18px 30px;
    width: 300px;
    outline: none;
}

.name {
    margin-bottom: 20px;
}

.email {
    margin-bottom: 20px;
}

textarea{
    resize: none;
    font-family: sans-serif;
}

textarea::placeholder{
    font-family: sans-serif;
}

.submit-button {
    padding: 15px 40px;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #FD6E0A;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

/* responsive media query */
.hide{
    display: none;
}

@media screen and (max-width: 576px) {
    .main{
        margin: 0px;
    }

    .sec-2{
        padding: 0;
        margin: 120px 20px 0px 20px;
    }

    .about-items{
        flex-direction: column;
    }

    .card-container{
        flex-direction: column;
        align-items: center;
    }

    .card{
        margin-top: 20px;
    }

    .sec-4-resume-container{
        flex-direction: column;
        margin: 0px 25px;
    }

    .sec-5-footer-container{
        flex-direction: column;
        padding: 20px 0px 20px 10px;
    }

    .footer-first-part p{
        width: 370px;
        margin-bottom: 15px;
    }

    .footer-first-part a {
        margin-right: 10px;
    }

    .footer-second-part{
        margin-top: 100px;
    }
}